.jumbotron{
    background-image: url("wrangler.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    height: 360px;
}
img{
    border: solid;
}